Django==2.1.4
django-appconf==1.0.2
django-imagekit==4.0.2
django-js-asset==1.1.0
django-mptt==0.9.1
django-taggit==0.23.0
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
pilkit==2.0
Pillow==5.4.1
pytz==2018.5
six==1.12.0