{% load static %}
{% load fishka_tags %}
<header id="header" class="header">
    <div class="container-fluid" style="background-image: url('{% static "/img/background.png" %}')">
        <div class="row">
            <div class="col-lg-1 ml-auto mr-auto">
                <img src="{% static 'img/logo.png' %}" class="logo">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <nav>
                <div class="d-flex justify-content-center">
                    <ul class="menu col-lg-5 d-flex justify-content-center">
                          {% top_menu %}
                        </ul>
                    <div class="search col-lg-3 ml-auto">
                        <div class="input-group mb-3">
                            <input type="search" class="search__input form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="search__btn btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            </div>
        </div>
        <div class="row">
            <div class="m-auto">
                <div class="offer animated fadeInRight">
                    <h1 class="offer__title">
                        Art is Eternal Happiness
                      {% snip 1 %}
                    </h1>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-offer m-auto ">
                <button type="button" class="btn-offer__clik green btn">Success</button>
            </div>
        </div>
        <div class="row">
            <div class="btn-scroll m-auto">
                <button type="button" class="btn-scroll__click btn btn-outline-light">scroll down  <i class="fas fa-arrow-down"></i></button>

            </div>
        </div>
    </div>
</header>
<selection id="what-we-do" class="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--заголовки и подзаголовки для полей-->
                <div class="title">
                    <h2 class="title__main">
                        WHAT WE DO
                    </h2>
                    <hr>
                    <p class="title__text gray">
                        Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="what-we">
                    <p>
                    <img src="{% static 'img/photos.png' %}" class="what-we__img">
                    </p>
                    <div class="what-we__block">
                        <h5 class="what-we__title">
                            Lorem ipsum
                        </h5>
                        <p class="what-we__text">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        </p>
                    </div>
                    <div class="what-we-btn m-auto ">
                        <button type="button" class="what-we-btn__click green btn">Success</button>
                    </div>
                </div>
                </div>
            <div class="col-md-4">
                <div class="what-we">
                    <p>
                        <img src="{% static 'img/speed.png' %}" class="what-we__img">
                    </p>
                    <div class="what-we__block">
                        <h5 class="what-we__title">
                            Lorem ipsum
                        </h5>
                        <p class="what-we__text">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        </p>
                    </div>
                    <div class="what-we-btn m-auto ">
                        <button type="button" class="what-we-btn__click green btn">Success</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="what-we">
                    <p>
                        <img src="{% static 'img/box.png' %}" class="what-we__img">
                    </p>
                    <div class="what-we__block">
                        <h5 class="what-we__title">
                            Lorem ipsum
                        </h5>
                        <p class="what-we__text">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                        </p>
                    </div>
                    <div class="what-we-btn m-auto ">
                        <button type="button" class="what-we-btn__click green btn">Success</button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</selection>
